body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
    margin-right: 25%;
}

body > header{
    border-radius: 5px;
    background-color: #999999;
    padding: .8em;
    margin-top: 1.5em;
}

#lili{
    position: absolute;
    top: -1.8em;
    left: 24.7%;
    opacity: 1;
    width: 8%;
}

body > header > h1{
    float: left;
    font-weight: bold;
    padding: .3em;
    padding-left: 8em;
    margin-right: 49.5%;
    opacity: .7;
}

body > header > nav > ul > li{
    transition-duration: .25s;
    display: inline-block;
    border: thin solid black;
    border-radius: 1em;
    background-color: gray;
    padding: .3em;
    padding-left: 2em;
    padding-right: 2em;
}

body > header > nav > ul > li:first-child{
    margin-right: .5em;
}

body > header > nav > ul > li:hover{
    cursor: pointer;
    background-color: silver;
}

main{
    clear: both;
}

main > section > h1{
    float: left;
    position: static;
    width: 67.5%;
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: #CCCCCC;
    font-size: 22px;
    font-weight: bold;
    padding: .75em;
    margin-top: 1em;
    opacity: .8;
}

main > section > ol{
    position: absolute;
    top: 4.8em;
    left: 62%;
}

main > section > ol > li{
    width: 25%;
    border: 2px solid #999999;
    border-radius: 1em;
    padding: 1.6em;
    font-weight: bold;
    text-decoration: underline;
    text-align: justify;
    margin-top: -2px;
}

#imageContainer{
    width: 70%;
    text-align: center;
}

#imageContainer img{
    width: 200px;
    height: 200px;
    border-radius: 3em;
    opacity: .4;
    margin: .5em;
    margin-top: 1.5em;
    transition-duration: 1s;
}

#imageContainer img:hover, #items img:hover{
    cursor: pointer;
    opacity: 1;
}

#imageContainer p{
    clear: both;
    font-weight: bolder;
    text-decoration: underline;
    padding: 2em;
    opacity: .8;
}

#chartContainer{
    width: 70%;
}

canvas{
    display: none;
}

.chartjs-render-moniter{
    display: block;
}

#items{
    clear: both;
    display: inline-block;
    top: 30em;
    overflow-y: scroll; 
    border: 2px solid #999999;
    height: 25em;
    width: 71%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#items img{
    border-radius: 3em;
    opacity: .4;
    padding: 5%;
    transition-duration: 1s;
}

footer{
    position: absolute;
    top: 45.5%;
    left: 62%;
    background-color: #CCCCCC;
    border: 2px solid #999999;
    border-radius: 1em;
    height: 50.35%;
    width: 12.15%;
    opacity: .75;
    margin-bottom: 1.5em;
}