/* Color Palette: https://www.color-hex.com/color-palette/47893 */

h1{
    text-align: center;
}

#imageContainer{
    text-align: center;
}

img{
    height: 500px;
    width: 500px;
    margin: 2em;
}

#chartContainer{
    margin-left: auto;
    margin-right: auto;
}